<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>kuddles</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServiceServico</display-name>
    <servlet-name>ServiceServico</servlet-name>
    <servlet-class>br.com.kuddlez.services.ServiceServico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServico</servlet-name>
    <url-pattern>/ServiceServico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceCadastroServ</display-name>
    <servlet-name>ServiceCadastroServ</servlet-name>
    <servlet-class>br.com.kuddlez.services.ServiceCadastroServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceCadastroServ</servlet-name>
    <url-pattern>/ServiceCadastroServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceCadUser</display-name>
    <servlet-name>ServiceCadUser</servlet-name>
    <servlet-class>br.com.kuddlez.services.ServiceCadUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceCadUser</servlet-name>
    <url-pattern>/ServiceCadUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceLogin</display-name>
    <servlet-name>ServiceLogin</servlet-name>
    <servlet-class>br.com.kuddlez.services.ServiceLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceLogin</servlet-name>
    <url-pattern>/ServiceLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>br.com.kuddlez.services.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServicePetcho</display-name>
    <servlet-name>ServicePetcho</servlet-name>
    <servlet-class>br.com.kuddlez.services.ServicePetcho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicePetcho</servlet-name>
    <url-pattern>/ServicePetcho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serviceservico</display-name>
    <servlet-name>Serviceservico</servlet-name>
    <servlet-class>br.com.kuddlez.services.Serviceservico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serviceservico</servlet-name>
    <url-pattern>/Serviceservico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceUsuario</display-name>
    <servlet-name>ServiceUsuario</servlet-name>
    <servlet-class>br.com.kuddlez.services.ServiceUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceUsuario</servlet-name>
    <url-pattern>/ServiceUsuario</url-pattern>
  </servlet-mapping>
</web-app>